<%# Takes f, and optionally a feature to preselect %>
<% feature = Feature.new if local_assigns[:feature].nil? %>

<% fields_for "#{f.object_name}[assigned_features][]", feature do |sf| -%>
  <div class="feature" id="<%= feature.new_record? ? "new_feature__INDEX_" : "feature_#{feature.id}" %>">
    <%= sf.hidden_field :position, :class => 'position-value', :index => nil %>

    <div class="ts-close-button remove">
      <a>Delete Feature</a>
    </div>
    
    <a>
      <div class="img"><%=image_tag feature.picture if feature.respond_to?(:picture) %></div>
      <div class="name"><%=h feature.name rescue 'unknown' %></div>
      <div class="description"><%=h feature.description  rescue 'unknown' %></div>
      <div class="clearfix">&nbsp;</div>
    </a>

  </div>
<% end -%>